@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 17% 20%;
    --card: 0 0% 100%;
    --card-foreground: 215 17% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 17% 20%;
    --primary: 215 71% 56%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 15% 95%;
    --secondary-foreground: 215 17% 30%;
    --muted: 220 15% 95%;
    --muted-foreground: 215 17% 45%;
    --accent: 220 15% 95%;
    --accent-foreground: 215 17% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 15% 90%;
    --input: 220 15% 90%;
    --ring: 215 71% 56%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 213 19% 13%;
    --foreground: 220 15% 90%;
    --card: 216 20% 18%;
    --card-foreground: 220 15% 90%;
    --popover: 213 19% 13%;
    --popover-foreground: 220 15% 90%;
    --primary: 215 71% 56%;
    --primary-foreground: 0 0% 98%;
    --secondary: 211 19% 30%;
    --secondary-foreground: 0 0% 98%;
    --muted: 211 19% 25%;
    --muted-foreground: 215 17% 65%;
    --accent: 211 19% 30%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 211 19% 25%;
    --input: 211 19% 25%;
    --ring: 215 71% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  html {
    @apply scroll-pt-20;
    scroll-behavior: smooth;
  }
}
